body{
    border: 20px;
    text-align: center;
    background-image: url("imagens/aab7e054f8d24068c5eea289239beed3.jpg")

}


/**body de grid**/
body{
    display: grid;
    grid-template-areas:
    "pr pr pr"
    "se te te"
    "ul ul ul";
    grid-gap: 10px;
}
.pr{
    grid-area: pr;
}
.se{
    grid-area: se;
}
.tr{
    grid-area: tr;
}
.ul{
    grid-area: ul;
}

.pr, .se, .tr, .ul{
    background-color: rgba(73, 7, 7, 0.938);
}
img{
    height: 200px;
    width: 30%;
    display:block;
}
.ch{
    border-radius: 50%;
    height: 150px;
    width: 250px;
}

/**estrutura quanticas**/

header{
    text-align: center;
    background-attachment:fixed;
}

main{
    text-align: justify;
    padding: 50px;
    background-color: rgba(105, 105, 105, 0.822);
    border-radius: 75px;
    background-attachment: fixed;
}
aside{
    border-radius: 75px;
    background-attachment: fixed;
    text-align: center;
}


/**decoracao letras**/
h1{
    color: darkred;
    font-weight: 900;
    text-align: center;
}

p{
    font-style: oblique;
    text-align: center;
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #22222296;
    color: rgb(0, 0, 0);
}

/**decoracao imagens**/

.oi{
    text-align: center;
    border: 13cap;
    border-color: black;
}

.banda{
    text-align: center;
    border: 13cap;
    border-color: black;

}

.ch{
    text-align: center;
    border: 13cap;
    border-color: black;

}

.po{
    border-radius: 50%;
    text-align: center;
}
